* {
    margin: 0;
    padding: 0;
}

body {
    /* flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.10000000149011612;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.40) 100%);
    backdrop-filter: blur(100px); */
    background-color: #020a18;
    width: 1921px;
    height: 1030px;
    flex-shrink: 0;

}

.Top {
    /* text-decoration: none; */
    background-color: #020a18;
    width: 1920px;
    height: 100px;
    flex-shrink: 0;


}

.Top a {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Main {
    display: flex;
    gap: 128px;
}

.Info {
    width: 1146px;
    height: 415px;
    flex: 0;

}

.Info_H1 {
    color: #3A68B8;
    /* font-family: Open Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    text-transform: uppercase;
}


.Info_H2 {
    /* width: 604px; */
    color: #FFFFFF;
    /* font-family: Open Sans; */
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    /* 71.5px */
}

.Info_Paragraph {
    display: flex;
    width: 558px;
    /* flex-direction: column;
    flex-shrink: 0; */
    color: #FFFFFF;
    /* font-family: Open Sans; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
}

.Info_Buttons {
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
    gap: 30px;
}

.Info_Button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.Info_Play {
    width: 27px;
    height: 26px;
    /* transform: rotate(90deg); */
}

.Picture {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.Bottom {
    display: flex;
    width: 1147.297px;
    justify-content: space-between;
    align-items: center;
}