* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #020a18;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5vh;
    padding: 5vh 5vh;
    margin-bottom: 5vh;
    
}

.Top {
    background-color: #020a18;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    
   }

.Top a {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 5%;
           
}

.Info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 5%;
    width: 70%;
    
}

.Info_H1 {
    display: flex;
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    align-items: flex-end;
        
}


.Info_H2 {
    color: #FFFFFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;

}

.Info_Paragraph {
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    align-items: flex-end;
    
}

.Info_Buttons {
    display: flex;
    align-items: flex-start;
    text-align: center;
    gap: 2%;
}

.Info_Button {
    color: var(--ffffff, #FFF);
    display: flex;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    text-align: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    
}

.Info_Play {
    width: 15px;
    height: 15px;
    
}

.Picture {
    display: flex;
    /* justify-content: center;
    align-items: center; */
            
}

.Bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5%;
        
}

img {
    background: transparent;
    
}

.small_card {
    background: #132035;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.large_card {
    background: #132035;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    grid-area: span 2/span 2;
}

h1 {
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: 80%;
}

p {
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 80%;
}

.table {
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

@media(max-width: 800px){
    .Main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 5%;
           
    }
    .Info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         flex-wrap: wrap;
         width: 100%;
         gap: 5%;
         text-align: center;
    }
    body {
        background-color: #020a18;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        /* gap: 5vh;
        padding: 5vh 5vh;
        margin-bottom: 5vh; */
    
        }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    } 

    .Picture{
        display: flex;
        justify-content: center;
    }
    .Info_Buttons{
        justify-content: center;
        align-self: center;
        width: 100%;
    }
    .Info_Button{
        align-self: center;
        width: 25%;
    }

    .Info_H1 {
        justify-content: center;
        align-items: center;
        
    }

    .Info_H2 {
        justify-content: center;    
        align-items: center;

    }

    .Info_Paragraph {
        align-items: center;
        justify-content: center;
        
    }

    .Bottom{
        display: grid;
        gap: 0%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        /* justify-content: center;     
        align-items: center; */
    }
    .Table{
        display: flex;
        flex-direction: row;
        gap: 0%;
        justify-content: center;     
        align-items: center;
    }
}
